<% include partials/header %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div>
			<div class="pull-right">
				<form method="POST" action="/<%- update_item[0].task_id %>/delete?_method=DELETE" class="inline"> 
					<button type="submit" class="btn btn-danger"><img class="zbutton" src="https://png.icons8.com/windows/50/ffffff/cancel.png"> Delete</button>
				</form>
			</div>
			<div>
				<p>
					<h2>Update task</h2>
				</p>
				<p>
					<h5>Last Updated: <%= update_item[0].task_date.toLocaleDateString(); %></h5>
				</p>
			</div>
		</div>
		<form action='/<%= update_item[0].task_id %>/update?_method=PUT' method="POST">
			<div class="form-group">
				<label for="taskname">Task Name</label>
				<input type="text" value="<%= update_item[0].task_name %>" name="name" id="taskname" class="form-control">
			</div>
			<div class="form-group">
				<label for="tasknotes">Next Action</label>
				<textarea rows="2" placeholder="Next Action" name="nextaction" id="tasknextaction" class="form-control"><%= update_item[0].NextAction %></textarea>
			</div>
			<div class="form-group">
				<label for="tasknotes">Notes</label>
				<textarea rows="5" name="text" id="tasknotes" class="form-control"><%= update_item[0].task_text %></textarea>
			</div>
			<div class="form-group">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-danger <% if(update_item[0].task_status === "priority"){%> active <% } %>">
						<input type="radio" name="status" value="priority" autocomplete="off" <% if(update_item[0].task_status == "priority"){%> checked <% } %>>Priority
					</label>
					<label class="btn btn-primary <% if(update_item[0].task_status === "normal"){%> active <% } %>">
						<input type="radio" name="status" value="normal" autocomplete="off" <% if(update_item[0].task_status == "normal"){%> checked <% } %>>Normal
					</label>
					<label class="btn btn-primary <% if(update_item[0].task_status === "hold"){%> active <% } %>">
						<input type="radio" name="status" value="hold" autocomplete="off" <% if(update_item[0].task_status == "hold"){%> checked <% } %>>On Hold
					</label>
					<label class="btn btn-primary <% if(update_item[0].task_status === "done"){%> active <% } %>">
						<input type="radio" name="status" value="done" autocomplete="off" <% if(update_item[0].task_status == "done"){%> checked <% } %>>Done
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary <% if(update_item[0].task_type === "daily"){%>active <% } %>">
						<input type="radio" name="type" value="daily" autocomplete="off" <% if(update_item[0].task_type == "daily"){%> checked <% } %>>Daily
					</label>
					<label class="btn btn-primary <% if(update_item[0].task_type === "weekly"){%>active <% } %>">
						<input type="radio" name="type" value="weekly" autocomplete="off" <% if(update_item[0].task_type == "weekly"){%> checked <% } %>>Weekly
					</label>
					<label class="btn btn-primary <% if(update_item[0].task_type === "monthly"){%>active <% } %>">
						<input type="radio" name="type" value="monthly" autocomplete="off" <% if(update_item[0].task_type == "monthly"){%> checked <% } %>>Monthly
					</label>
					<label class="btn btn-primary <% if(update_item[0].task_type === "delegated"){%>active <% } %>">
						<input type="radio" name="type" value="delegated" ="off" <% if(update_item[0].task_type == "delegated"){%> checked <% } %>>Talia
					</label>
				</div>
			</div>
			<div class="checkbox hiddencheck">
				<label><input type="checkbox" name="backURL" value="<%= backURL %>" checked>backURL</label>
			</div>
			<div class="form-group">
				<button type="submit">Submit</button>
			</div>
		</form>
	<div>
<div>

<% include partials/footer %>
