<% include partials/header %>

<div class="container>"
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div>
				<div class="pull-right">
					<button type="btn" id="newDailyButton">New</button>
				</div>
				<div>
					<h2 class="listheader">Daily tasks</h2>
				</div>
			</div>
			<div class="hideform" id="newDailyForm">
				<div>
					<h4>New Task</h4>
				</div>
				<form action="/new" method="POST" id="newDaily">
					<div class="form-group">
						<label for="taskname">Task Name</label>
						<input type="text" placeholder="Task Name" name="name" id="taskname" class="form-control">
					</div>
					<div class="form-group">
						<label for="tasknotes">Next Action</label>
						<textarea rows="2" placeholder="Next Action" name="nextaction" id="tasknextaction" class="form-control"></textarea>
					</div>
					<div class="form-group">
						<label for="tasknotes">Notes</label>
						<textarea rows="5" placeholder="Task Note" name="text" id="tasknotes" class="form-control"></textarea>
					</div>
					<div class="form-group">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-danger btn-xs">
								<input type="radio" name="status" value="priority" autocomplete="off">Priority
							</label>
							<label class="btn btn-primary active btn-xs">
								<input type="radio" name="status" value="normal" autocomplete="off" checked>Normal
							</label>
							<label class="btn btn-primary btn-xs">
								<input type="radio" name="status" value="hold" autocomplete="off">On Hold
							</label>
							<label class="btn btn-primary btn-xs">
								<input type="radio" name="status" value="done" autocomplete="off">Done
							</label>
						</div>
						<div class="checkbox hiddencheck">
							<label><input type="checkbox" name="type" value="daily" checked>Daily</label>
						</div>
					</div>
					<div class="form-group">
						<button type="submit">Submit</button>
					</div>
				</form>
			</div>
			<ul class="list-group" id="dailyToDos">
				<% for(var i=0; i < daily_list.length; i++){ %>
					<li class="list-group-item <% if(daily_list[i].task_status == "hold") { %> dailyitemhold <% } %> <% if(daily_list[i].task_status == "priority") { %> priority <% } %>">
						<div class="wrapper">	
							<div class="floatr mainbuttons">
								<a href="/<%- daily_list[i].task_id %>/update" class="btn btn-sm btn-warning"> 
									<img class="zbutton" src="https://png.icons8.com/ios-glyphs/50/ffffff/multi-edit.png">
								</a>
								<form action='/<%= daily_list[i].task_id %>/done?_method=PUT' method="POST" class="inline">
									<div class="checkbox hiddencheck">
										<label><input type="checkbox" name="status" value="done" checked>Done</label>
									</div>
									<button type="submit" class="btn btn-sm btn-success"><img class="zbutton" src="https://png.icons8.com/metro/32/ffffff/checkmark.png"></button>
								</form>
							</div>
							<div class="lead"> 
								<%- daily_list[i].task_name %>
							</div>
							<div class="nextaction"> 
								<span><strong><em>Next action: </em></strong></span><%- daily_list[i].NextAction %>
							</div>						
						<div>		

					</li>
				<% } %>
			</ul>
			<button type="btn" id="unhideDaily">Show items on hold</button>
		</div>
		<div class="col-sm-12 col-md-6">
			<div>
				<div class="pull-right">
					<button type="btn" id="newWeeklyButton">New</button>
				</div>
				<div>
					<h2 class="listheader">Weekly tasks</h2>
				</div>
			</div>
			<div class="hideform" id="newWeeklyForm">
				<p>
					<h4>New Task</h4>
				</p>
				<form action="/new" method="POST" id="newWeekly">
					<div class="form-group">
						<label for="taskname">Task Name</label>
						<input type="text" placeholder="Task Name" name="name" id="taskname" class="form-control">
					</div>
					<div class="form-group">
						<label for="tasknotes">Next Action</label>
						<textarea rows="2" placeholder="Next Action" name="nextaction" id="tasknextaction" class="form-control"></textarea>
					</div>
					<div class="form-group">
						<label for="tasknotes">Notes</label>
						<textarea rows="5" placeholder="Task Note" name="text" id="tasknotes" class="form-control"></textarea>
					</div>
					<div class="form-group">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-danger btn-xs">
								<input type="radio" name="status" value="priority" autocomplete="off">Priority
							</label>
							<label class="btn btn-primary active btn-xs">
								<input type="radio" name="status" value="normal" autocomplete="off" checked>Normal
							</label>
							<label class="btn btn-primary btn-xs">
								<input type="radio" name="status" value="hold" autocomplete="off">On Hold
							</label>
							<label class="btn btn-primary btn-xs">
								<input type="radio" name="status" value="done" autocomplete="off">Done
							</label>
						</div>
						<div class="checkbox hiddencheck">
							<label><input type="checkbox" name="type" value="weekly" checked>Weekly</label>
						</div>
					</div>
					<div class="form-group">
						<button type="submit">Submit</button>
					</div>
				</form>
			</div>
			<ul class="list-group" id="weeklyToDos">
				<% for(var i=0; i < weekly_list.length; i++){ %>
					<li class="list-group-item <% if(weekly_list[i].task_status == "hold") { %> weeklyitemhold <% } %> <% if(weekly_list[i].task_status == "priority") { %> priority <% } %>">
						<div class="wrapper">	
							<div class="floatr mainbuttons">
								<a href="/<%- weekly_list[i].task_id %>/update" class="btn btn-sm btn-warning"> 
									<img class="zbutton" src="https://png.icons8.com/ios-glyphs/50/ffffff/multi-edit.png">
								</a>
								<form action='/<%= weekly_list[i].task_id %>/done?_method=PUT' method="POST" class="inline">
									<div class="checkbox hiddencheck">
										<label><input type="checkbox" name="status" value="done" checked>Done</label>
									</div>
									<button type="submit" class="btn btn-sm btn-success"><img class="zbutton" src="https://png.icons8.com/metro/32/ffffff/checkmark.png"></button>
								</form>
							</div>
							<div class="lead"> 
								<%- weekly_list[i].task_name %>
							</div>
							<div class="nextaction"> 
								<span><strong><em>Next action: </em></strong></span><%- weekly_list[i].NextAction %>
							</div>						
						<div>		
					</li>
				<% } %>
			</ul>
			<button type="btn" id="unhideWeekly">Show items on hold</button>
		</div>
	</div>
</div>

<% include partials/footer %>