<% include partials/header %>

<div class="container>"
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div>
				<div class="pull-right">
					<button type="btn" id="newDailyButton">New</button>
				</div>
				<div>
					<h2 class="listheader">Daily tasks</h2>
				</div>
			</div>
			<div class="hideform" id="newDailyForm">
				<div>
					<h4>New Task</h4>
				</div>
				<form action="/new" method="POST" id="newDaily">
					<div class="form-group">
						<label for="taskname">Task Name</label>
						<input type="text" placeholder="Task Name" name="name" id="taskname" class="form-control">
					</div>
					<div class="form-group">
						<label for="tasknotes">Notes</label>
						<textarea rows="5" placeholder="Task Note" name="text" id="tasknotes" class="form-control"></textarea>
					</div>
					<div class="form-group">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-danger btn-xs">
								<input type="radio" name="status" value="priority" autocomplete="off">Priority
							</label>
							<label class="btn btn-primary active btn-xs">
								<input type="radio" name="status" value="normal" autocomplete="off" checked>Normal
							</label>
							<label class="btn btn-primary btn-xs">
								<input type="radio" name="status" value="hold" autocomplete="off">On Hold
							</label>
							<label class="btn btn-primary btn-xs">
								<input type="radio" name="status" value="done" autocomplete="off">Done
							</label>
						</div>
						<div class="checkbox">
							<label><input type="checkbox" name="type" value="daily" checked>Daily</label>
						</div>
					</div>
					<div class="form-group">
						<button type="submit">Submit</button>
					</div>
				</form>
			</div>
			<ul class="list-group" id="dailyToDos">
				<% for(var i=0; i < daily_list.length; i++){ %>
					<li class="list-group-item">
						<span class="lead"> 
							<%- daily_list[i].task_name %>
						</span>
						<div class="pull-right">
							<a href="/<%- daily_list[i].task_id %>/update" class="btn btn-sm btn-warning"> 
								<img class="zbutton" src="https://png.icons8.com/ios-glyphs/50/ffffff/multi-edit.png">
							</a>
							<form method="POST" action="/<%- daily_list[i].task_id %>/delete?_method=DELETE" class="inline"> 
								<button type="submit" class="btn btn-sm btn-danger"><img class="zbutton" src="https://png.icons8.com/windows/50/ffffff/cancel.png"></button>
							</form>
						</div>
						<div class=clearfix></div>
					</li>
				<% } %>
			</ul>
		</div>
		<div class="col-sm-12 col-md-6">
			<div>
				<div class="pull-right">
					<button type="btn" id="newWeeklyButton">New</button>
				</div>
				<div>
					<h2 class="listheader">Weekly tasks</h2>
				</div>
			</div>
			<div class="hideform" id="newWeeklyForm">
				<p>
					<h4>New Task</h4>
				</p>
				<form action="/new" method="POST" id="newWeekly">
					<div class="form-group">
						<label for="taskname">Task Name</label>
						<input type="text" placeholder="Task Name" name="name" id="taskname" class="form-control">
					</div>
					<div class="form-group">
						<label for="tasknotes">Notes</label>
						<textarea rows="5" placeholder="Task Note" name="text" id="tasknotes" class="form-control"></textarea>
					</div>
					<div class="form-group">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-danger btn-xs">
								<input type="radio" name="status" value="priority" autocomplete="off">Priority
							</label>
							<label class="btn btn-primary active btn-xs">
								<input type="radio" name="status" value="normal" autocomplete="off" checked>Normal
							</label>
							<label class="btn btn-primary btn-xs">
								<input type="radio" name="status" value="hold" autocomplete="off">On Hold
							</label>
							<label class="btn btn-primary btn-xs">
								<input type="radio" name="status" value="done" autocomplete="off">Done
							</label>
						</div>
						<div class="checkbox">
							<label><input type="checkbox" name="type" value="weekly" checked>Weekly</label>
						</div>
					</div>
					<div class="form-group">
						<button type="submit">Submit</button>
					</div>
				</form>
			</div>
			<ul class="list-group" id="weeklyToDos">
				<% for(var i=0; i < weekly_list.length; i++){ %>
					<li class="list-group-item">
						<span class="lead"> 
							<%- weekly_list[i].task_name %>
						</span>
						<div class="pull-right">
							<a href="/<%- weekly_list[i].task_id %>/update" class="btn btn-sm btn-warning"> 
								<img class="zbutton" src="https://png.icons8.com/ios-glyphs/50/ffffff/multi-edit.png">
							</a>
							<form method="POST" action="/<%- weekly_list[i].task_id %>/delete?_method=DELETE" class="inline"> 
								<button type="submit" class="btn btn-sm btn-danger"><img class="zbutton" src="https://png.icons8.com/windows/50/ffffff/cancel.png"></button>
							</form>
						</div>
						<div class=clearfix></div>
					</li>
				<% } %>
			</ul>
		</div>
	</div>
</div>

<% include partials/footer %>